@import 'var';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Edo';
    src: url(../fonts/edo.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Merienda One';
    src: url(../fonts/MeriendaOne-Regular.ttf);
    font-weight: 400;
}

body {
    font-family: 'Heebo', sans-serif;
    font-size: 24px;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(180deg, #D9F1EB 0%, rgba(217, 241, 235, 0.00) 100%);
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.container {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}


.section {
    &__title {
        font-family: 'Merienda One', sans-serif;
        font-weight: 400;
        font-size: 54px;
        line-height: 70px;
        max-width: 706px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 22px;

    }
    &__descr {
        max-width: 1105px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 70px;
    }
}

.item {
    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 47px;
    }
}




