@import 'global';
@import 'var';

@media (max-width: 1290px) {
    .header {
        &__top {
            position: relative;
            .logo {
                position: relative;
                z-index: 10;
                &__img {
                    object-fit: cover;
                    width: 70%;
                }
            }
    
            .menu {
                &__btn {
                    display: flex;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    z-index: 10;
                    cursor: pointer;
                }
                &__list {
                    position: absolute;
                    z-index: 5;
                    background-color: $main-color;
                    flex-direction: column;
                    padding-top: 100px;
                    height: 100vh;
                    left: 0;
                    right: 0;
                    top: 0;
                    align-items: center;
                    justify-content: center;
                    transform: translateY(-100%);
                    transition: all 0.5s ease;
                    &.menu__list-active {
                        transform: translateY(0);
                    }
                    &-item {
                        padding: 20px 0;
                        padding-left: 0;
                    }
                    &-item + .menu__list-item {
                        margin-left: 0;
                    }
                }
            }
        }
        
        
    }

    .practics {
        &__item {
            padding: 37px 36px 64px 36px;
        }
    }

    
    
}

@media (max-width: 980px) {
    .practics {
        &__items {
            display: block;
        }

        &__item {
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 780px) {
    .header {
        &__promo {
            &-title {
                font-size: 58px;
            }
            &-btn {
                font-size: 27px;
            }
        }
    }
}

@media (max-width: 410px) {
    .header {
        &__promo {
            &-title {
                font-size: 50px;
            }
        }
    }

    .practics {

        &__item {
            &-img {
                object-fit: cover;
                width: 50%;
            }
            &-link {
                font-size: 18px;
                padding: 9px 33px;
            }

        }
    }
}