$main-color: #1A7F72;

@mixin btn-color{
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
}

@mixin btn-style {
    @include btn-color;
    border-radius: 30px;
    color: #fff;
}



