@import 'global';
@import 'var';
@import 'reset';


.header {
    &__top {
        background-color: #fff;
        
        padding-top: 8px;
        padding-bottom: 3px;
        &-inner {
            display: flex;
            justify-content: space-between;
        }
        .logo {
            &__img {
            }
        }
        
        .menu {
            padding-top: 36px;
            &__list {
                display: flex;
                &-item {
                    font-size: 28px;
                    line-height: 30px;
                    font-weight: 500;
                    color: #000000;
                    padding-bottom: 41px;
                    &:hover {
                        color: $main-color;
                        border-bottom: 2px solid $main-color;
                    }
                }
                &-item + .menu__list-item {
                    margin-left: 80px;
                }
                &-link {
                    
                }
            }
        }
    }

    &__promo {
        padding-top: 70px;
        background-color: $main-color;
        margin-bottom: 10px;
        &-title {
            font-family: 'Merienda One', sans-serif;
            font-size: 68px;
            line-height: 130%;
            color: #fff;
            max-width: 758px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 22px;

        }
        &-text {
            max-width: 1109px;
            margin: 0 auto;
            margin-bottom: 30px;
            text-align: center;
        }
        &-btn {
            display: block;
            @include btn-style;
            padding: 19px 90px;
            font-weight: 700;
            font-size: 30px;
            line-height: 39px;
            margin: 0 auto;
            margin-bottom: 70px;
        }
        &-img {
            display: block;
            margin: 0 auto;
        }
    }
}


.practics {
    &__items {
    }
    &__item {
        &-img {
        }
        &-title {
        }
        &-descr {
        }
        &-link {
            display: inline-block;
            @include btn-style;
        }
    }
}


.cases {
    &__title {
    }    
    &__descr {
    }
    &__content {
        &-img {
        }
    }

    &__items {
    }
    &__item {
        &-link {
        }
        &-title {
        }
        &-text {
        }
    }
}


.sounds {
    &__title {
    }
    &__descr {
    }
    &__content {
        &-img {
        }
    }
    &__items {
    }
    &__item {
        &-title {
        }
        &-descr {
        }
    }
    
}


.best {
    &__title {
    }
    &__descr {
    }
    &__items {
    }
    &__item {
        &-title {
        }
        &-descr {
        }
    }
}


.transform {
    &__title {
    }
    &__descr {
    }
    &__items {
    }
    &__item {
        &-img {
        }
        &-content {
        }
        &-title {
        }
        &-text {
        }
        &-link {
            display: inline-block;
            @include btn-style;
        }
    }
}


.footer {
    &__logo {
        &-img {
        }
    }

    &__menu {
        &__list {
    
        }
        &__item {
    
        }
        &__link{
    
        }
    }

    &__social {
        .social__list {
            &-item {
            }
            &-link {
            }
            &-img {
            }
        }
    }
}











