@import 'global';
@import 'var';
@import 'reset';


.header {
    margin-bottom: 100px;
    &__top {
        background-color: #fff;
        padding-top: 8px;
        padding-bottom: 15px;
        &-inner {
            display: flex;
            justify-content: space-between;
            margin-bottom: -15px;
        }
        .logo {
            &__img {
                object-fit: cover;
                width: 70%;
            }
        }
        
        .menu {
            padding-top: 36px;
            &__list {
                display: flex;
                padding-bottom: 15px;
                &-item {
                    font-size: 28px;
                    line-height: 30px;
                    font-weight: 500;
                    color: #000000;
                    padding-bottom: 10px;
                    border-bottom: 2px solid transparent;
                    transition: all 0.5s;
                    &:hover {
                        color: $main-color;
                        border-bottom: 2px solid $main-color;
                    }
                }
                &-item + .menu__list-item {
                    margin-left: 80px;
                }
                &-link {
                    
                }
            }
            &__btn {
                width: 40px;
                height: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0;
                border: none;
                background-color: transparent;
                display: none;
                span {
                    height: 4px;
                    width: 100%;
                    background-color: $main-color;
                }
            }
        }
    }

    &__promo {
        padding-top: 70px;
        background-image: url(../images/bgi/promo.svg);
        background-position: bottom;
        &-title {
            font-family: 'Merienda One', sans-serif;
            font-size: 68px;
            line-height: 130%;
            color: #fff;
            max-width: 758px;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 22px;

        }
        &-text {
            max-width: 1109px;
            margin: 0 auto;
            margin-bottom: 30px;
            text-align: center;
        }
        &-btn {
            display: block;
            @include btn-style;
            padding: 19px 90px;
            font-weight: 700;
            font-size: 30px;
            line-height: 39px;
            margin: 0 auto;
            margin-bottom: 70px;
        }
        &-img {
            display: block;
            margin: 0 auto;
        }
    }
}

.fixed-header {
    position: fixed;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    .menu__list-item {
        color: #fff;
    }
}


.practics {
    padding-top: 20px;
    padding-bottom: 45px;
    margin-bottom: 70px;
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
    }
    &__item {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 50px rgba(26, 127, 114, 0.15);
        border-radius: 20px;
        max-width: 420px;
        padding: 50px 48px 92px 48px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: -2;
        &-img {
            margin-bottom: 20px;

        }
        &-title {
            margin-bottom: 20px;
        }
        &-descr {
            text-align: center;
            margin-bottom: 60px;
            font-size: 18px;
            line-height: 23px;
            color: #000;
        }
        &-link {
            display: inline-block;
            @include btn-style;
            max-width: 210px;
            padding: 12px 44px;
            justify-self: flex-end;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 120px;
            background-image: url(../images/practics/practic1-bg.svg);
            background-repeat: no-repeat;
            background-size: cover;
            bottom: -20px;
            z-index: 10;
            left: 0;
            right: 0;
        }
    }
}


.cases {
    padding-top: 7px;
    margin-bottom: 11px;
    background-image: url(../images/cases/cases-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    &__title {
    }    
    &__descr {
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-img {
        }
    }

    &__items {
        width: 717px;
    }
    &__item {
        width: 100%;
        background-color: transparent;
        padding: 35px 60px 35px 40px;
        margin-bottom: 50px;
        
        &:hover {
            background-color: #fff;
            box-shadow: 0px 8px 50px rgba(26, 127, 114, 0.2);
            border-radius: 15px;
            .cases__item-img {
                opacity: 1;
            }
        }
        &-link {
            
        }
        &-img {
            opacity: 0;
            float: right;
        }
        &-title {
            margin-bottom: 10px;
        }
        &-text {
        }
    }
}


.sounds {
    padding-top: 60px;
    padding-bottom: 163px;
    margin-bottom: 58px;
    background-image: url(../images/sounds/sounds-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-img {
            max-width: 696px;
            object-fit: cover;
        }
    }
    &__items {
        width: 650px;
    }
    &__item {
        width: 100%;
        margin-bottom: 50px;
        padding: 30px 40px 32px 40px;
        background: linear-gradient(90deg, #C3E2DE 27.22%, #CFF1ED 48.89%, #EDFBF9 96.77%);
        border-radius: 15px;
        box-shadow: -26px 4px 79px rgba(168, 207, 202, 0.39);
        display: flex;
        justify-content: space-between;
        min-height: 150px;
        &-descr {

        }
        &-audio {

        }
        &-btn {
            width: 80px;
            height: 80px;
            background-color: $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0px 9px 24px 0px rgba(26, 127, 114, 0.23), 0px 25px 30px 0px rgba(179, 228, 221, 0.30);
        }
        &-img {
            display: block;
            padding: 0;
            
        }
        &-title {
            margin-bottom: 10px;
        }
        &-text {
        }
    }
    
}


.best {
    padding-top: 86px;
    background-image: url(../images/bgi/best.svg);
    background-repeat: no-repeat;
    padding-bottom: 215px;
    margin-bottom: 53px;
    &__content {
        display: grid;
        grid-template-columns: 40% 20% 40%;
    }
    &__items {
        &.best__items-left {
            .best__item {
                padding: 25px 35px 25px 79px;
                text-align: right;
                border-right:  3px solid $main-color;
            }
        }

        &.best__items-right {
            .best__item {
                text-align: left;
                padding: 25px 79px 25px 35px;
                border-left:  3px solid $main-color;
                
            }
        }
    }
    &__item {
        width: 100%;
        background: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%);
        border-radius: 15px;
        padding: 35px 41px;
        margin-bottom: 10px;
        text-align: right;
        margin-bottom: 100px;
        min-height: 200px;
        border-top-width: 3px;
        border-top-style: solid;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        
        &-title {
        }
        &-descr {
        }
    }
}


.transform {
    padding-top: 67px;
    padding-bottom: 61px;
    margin-bottom: 22px;
    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 70px;
        &:first-child {
            .transform__item-content {
                background-image: url(../images/transform/item1-bg.svg);
                background-repeat: no-repeat;
                background-position: right;
            }
        }
        &:nth-child(2) {
            flex-direction: row-reverse;
            .transform__item-content {
                background-image: url(../images/transform/item2-bg.svg);
                background-repeat: no-repeat;
                background-position: left;
            }
        }
        &-content {
            width: 619px;
            padding: 121px 0;
        }
        &-title {
            margin-bottom: 17px;
        }
        &-link {
            display: inline-block;
            @include btn-style;
            margin-top: 30px;
            max-width: 210px;
            padding: 12px 44px;
        }
    }
}


.footer {
    padding-top: 113px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/bgi/footer.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    &__logo {
        &-img {
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    &__menu {
        margin-bottom: 30px;
        &-list {
            display: flex;
            justify-content: center;
    
        }
        &-item {
            padding: 0 20px;
            border-left: 2px solid #000000;
            font-weight: 500;
            color: #000;
            &:first-child {
                border-left: none;
            }
    
        }
        &-link{
    
        }
    }

    &__social {
        .social__list {
            display: flex;
            justify-content: center;
            &-item +.social__list-item{
                margin-left: 30px;
            }
            &-link {
            }
            &-img {
            }
        }
    }
}

@import 'media';











